.gradient-bg {
    min-height: 100vh;
    background: radial-gradient(circle, #170d4e 0%, #000000 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

.gradient-btn {
    background: radial-gradient(circle, #170d4e 0%, #000000 100%);
    color:white;
}



.navbar ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  width: 100%;
  
}

.navbar ul li a {
  color: white; 
  text-decoration: none;
  font-weight: bold;

}

.navbar ul li a:hover {
  color: black;
}

h1{
  padding: 30px 0px;
}

nav{
    z-index:1; /* Assicurati che la navbar sia sopra il resto del contenuto */
}

.pad-top{
    padding-top: 65px;
}